@font-face {
    font-family: Hoves;
    src: url(../fonts/TT-Hoves-Thin.ttf) format('ttf'), url(../fonts/TT-Hoves-Thin.woff) format('woff'), url(../fonts/TT-Hoves-Thin.eot) format('eot');
    font-weight: 300;
}

@font-face {
    font-family: Hoves;
    src: url(../fonts/TT-Hoves-Regular.ttf) format('ttf'), url(../fonts/TT-Hoves-Regular.woff) format('woff'), url(../fonts/TT-Hoves-Regular.eot) format('eot');
    font-weight: 400;
}

@font-face {
    font-family: Hoves;
    src: url(../fonts/TT-Hoves-Medium.ttf) format('ttf'), url(../fonts/TT-Hoves-Medium.woff) format('woff'), url(../fonts/TT-Hoves-Medium.eot) format('eot');
    font-weight: 500;
}

@font-face {
    font-family: Hoves;
    src: url(../fonts/TT-Hoves-Bold.ttf) format('ttf'), url(../fonts/TT-Hoves-Bold.woff) format('woff'), url(../fonts/TT-Hoves-Bold.eot) format('eot');
    font-weight: 700;
}
